[submodule "src/deps/googletest"]
	path = src/deps/googletest
	url = http://github.com/google/googletest
[submodule "src/deps/rapidjson"]
	path = src/deps/rapidjson
	url = http://github.com/Tencent/rapidjson.git
[submodule "src/deps/magnum"]
	path = src/deps/magnum
	url = http://github.com/mosra/magnum.git
[submodule "src/deps/corrade"]
	path = src/deps/corrade
	url = http://github.com/mosra/corrade.git
[submodule "src/deps/magnum-plugins"]
	path = src/deps/magnum-plugins
	url = http://github.com/mosra/magnum-plugins.git
[submodule "src/deps/glog"]
	path = src/deps/glog
	url = http://github.com/google/glog.git
[submodule "src/deps/pybind11"]
	path = src/deps/pybind11
	url = http://github.com/pybind/pybind11.git
[submodule "src/deps/eigen-git-mirror"]
	path = src/deps/eigen-git-mirror
	url = http://github.com/eigenteam/eigen-git-mirror
[submodule "src/deps/assimp"]
	path = src/deps/assimp
	url = http://github.com/assimp/assimp
[submodule "src/deps/glfw"]
	path = src/deps/glfw
	url = http://github.com/glfw/glfw
[submodule "src/deps/Sophus"]
	path = src/deps/Sophus
	url = http://github.com/strasdat/Sophus
[submodule "src/deps/recastnavigation"]
	path = src/deps/recastnavigation
	url = http://github.com/erikwijmans/recastnavigation.git
[submodule "src/deps/tinyply"]
	path = src/deps/tinyply
	url = http://github.com/ddiakopoulos/tinyply
[submodule "src/deps/magnum-integration"]
	path = src/deps/magnum-integration
	url = http://github.com/mosra/magnum-integration.git
[submodule "src/deps/magnum-bindings"]
	path = src/deps/magnum-bindings
	url = http://github.com/mosra/magnum-bindings.git
